/* 
Assignment 4. Four Page Website - 40%
Feel free to use lorem ipsum for the content. I will be marking this project based on the following:

Structure
This project should have either 4 pages or 4 sections, depending on style of site. Those 4 sections or pages are:
1. Home / Main
can be product summary
can be service summary
2. About
can be who are you
can be what you do
can be who your staff is
3. Product
can be product details
can be service details
4. Contact
This must involve an input field and submit button
Does not need to submit anywhere
Example could be email input, comments input and a send button
General
- Nav must include a logo
- All links to other pages or sections must work
- Must include hero section
- Must include social icons on every page (common place is in the footer)
- Site must be responsive
- Site must have a working mobile menu
- Site must include a css transition (other than the mobile navigation) */



/* #region General Styles and UNFormating */

* {
    box-sizing: border-box;
}

body {
    background: rgba(0, 0, 0, 0.1);
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

.filter {
    width: 100%;
    height: 100%;
    /* background: rgba(255, 0, 0, 0.219); */
    backdrop-filter: blur(40px) saturate(0%);
}

h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /* font-family: Arial, Helvetica, sans-serif; */
}

/* #endregion */

/* #region Header * * * * */

/* Normal Top Navigation * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
header {
    background: black;
}

.nav {
    display: flex;
    font-size: 2em;
    font-family: "din-condensed",sans-serif;
    text-transform: uppercase;
}    

.nav ul {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}


.nav button {
    background: none;
    color: white;
    border: none;
    text-shadow: 1px 1px 20px rgba(255, 0, 0, 0);
    transition: 0.3s;
}

.nav button:hover {
    background: radial-gradient(#ff0000 0%,#000000 75%);
    text-shadow: 2px 2px 20px red;
}

.nav a {
    color: white;
    text-shadow: 1px 1px 20px rgba(255, 0, 0, 0);
    transition: 0.3s;
}

.nav a:hover {
    text-shadow: 3px 3px 20px red;
}
.nav a:active {
    color: red;
    text-shadow: 3px 3px 20px red;
}

.logo {
    filter: drop-shadow(3px 3px 20px red);
    position: relative;
    z-index: 100;
}
.logo i {
    transform: rotate(-45deg);
    font-size: 2em;
    position: relative;
    z-index: 100;
}

.nav li:last-child {
    display: none;
}

/* Mobile Menu Item * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.mobile-menu {
    position: absolute;
    height: 100vh;
    width: 200px;
    background: pink;
    transform: translate(0, 0);
    transition: 0.3s
}

.closed {
    transform: translate(200px, 0)
}

/* #endregion * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* #region Home Page  * * */

/* Home Page Hero * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.home-page-hero {
    background: url(../img/img1.jpg);
    background-size: cover;
    background-position: center;
    height: 60vw;
    position: relative;
}


.home-page-hero h1 {
    padding: 80px 0px 10px;
    text-align: right;
    color: white;
    text-shadow: 3px 3px 20px red;

    /* background: rgba(255, 0, 0, 0.363); */
}

.home-page-hero p {
    text-align: right;
    padding: 10px 0;
    color: #ddd

    /* background: rgba(0, 0, 255, 0.432); */
}

.hero-container {
    display: flex;
}

.spin-container {
    width: 25%;
}

.hero-text {
    width: 75%;
}

.animated-hero-cards {
    background-color: red;
    margin-left: 20px;
    border-radius: 50%;
    position: absolute;
    width: 20vw;
    height: 20vw;
    min-width: 50px;
    max-width: 500px;
    padding-top: 5%;
    -webkit-animation: rotation 20s infinite linear;
    transform: skew(0deg, -25deg);
    
}


.hero-card {
    /* position: absolute; */
    height: 20%;
    font-size: 30px;

}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

/* Home Page Content * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.home-page-content {
    padding: 80px 20px;
    background: white;
}

/* #endregion * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* #region About Page   * */

/* #endregion */

/* #region Product  * * * */

/* #endregion */

/* #region Contact  * * * */

/* #endregion */

/* #region Footer * * * * */

footer {
    color: white;   
    padding: 20px 0px;
    background: grey;
    font-family: "din-condensed",sans-serif;
}
footer .logo {
    /* filter: none; */
}
footer .wrapper {
    display: flex;
    flex: 1;
    justify-content: space-between;
}


footer h3 {
    text-transform: uppercase;
}
footer ul {
    height: 80px;
}

footer .logo li i {

    text-align: center;
}

footer a {
    color: white;   
}

.social-icons {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

/* #endregion */

/* #region Media Querries */

/* 900px - Reduce the Font Size of the menu to facilitate the responsiveness */
@media (max-width: 900px) {
    .nav {
        font-size: 1.25em;
    }

    .nav .logo i {
        font-size: 2em;
    }
}

/* 500px - Switch to the Mobile Menu Option - Footer Navigation Switches to a Column */

@media (max-width: 500px) {
    .nav li:last-child {
        display: inherit;
    }

    .nav li:nth-child(n+2):nth-child(-n+5) {
        display: none;
    }

    footer .wrapper {
        flex-direction: column;
        align-items: center;
    }
}

/* #endregion */