/* #region General Styles and UNFormating */

* {
    box-sizing: border-box;
}

body {
    background: rgba(0, 0, 0, 0.1);
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* #endregion */

/* #region Header * * * * */

/* Normal Top Navigation * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.nav {
    display: flex;
    font-size: 2.5em;
}    

.nav ul {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    color: white;
}

.logo i {
    transform: rotate(-45deg);
    font-size: 2em;
}

.nav li:last-child {
    display: none;
}

/* Mobile Menu Item * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.mobile-menu {
    position: absolute;
    height: 100vh;
    width: 200px;
    background: pink;
    transform: translate(0, 0);
    transition: 0.3s
}

.closed {
    transform: translate(200px, 0)
}

/* #endregion * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* #region Home Page  * * */

/* Home Page Hero * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.home-page-hero {
    background: grey;
    position: relative;
}

.home-page-hero h1 {
    padding: 80px 0px 10px;
    text-align: right;
    background: rgba(255, 0, 0, 0.363);
}

.home-page-hero p {
    text-align: right;
    padding: 10px 0;
    background: rgba(0, 0, 255, 0.432);
}

.hero-container {
    display: flex;
}

.spin-container {
    width: 25%;
}

.hero-text {
    width: 75%;
}

.animated-hero-cards {
    background-color: red;
    margin-left: 20px;
    border-radius: 50%;
    position: absolute;
    width: 20vw;
    height: 20vw;
    min-width: 50px;
    max-width: 500px;
    padding-top: 5%;
    -webkit-animation: rotation 20s infinite linear;
    transform: skew(0deg, -25deg);
    
}


.hero-card {
    /* position: absolute; */
    height: 20%;
    font-size: 30px;

}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

/* Home Page Content * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.home-page-content {
    padding: 80px 20px;
    background: white;
}

/* #endregion * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* #region About Page   * */

/* #endregion */

/* #region Product  * * * */

/* #endregion */

/* #region Contact  * * * */

/* #endregion */

/* #region Footer * * * * */

footer {
    padding: 20px 0px;
    background: grey;
}

footer .wrapper {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

footer ul {
    height: 80px;
}

footer .logo li i {

    text-align: center;
}

.social-icons {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

/* #endregion */

/* #region Media Querries */

/* 900px - Reduce the Font Size of the menu to facilitate the responsiveness */
@media (max-width: 900px) {
    .nav {
        font-size: 1.5em;
    }

    .nav .logo i {
        font-size: 2em;
    }
}

/* 500px - Switch to the Mobile Menu Option - Footer Navigation Switches to a Column */

@media (max-width: 500px) {
    .nav li:last-child {
        display: inherit;
    }

    .nav li:nth-child(n+2):nth-child(-n+5) {
        display: none;
    }

    footer .wrapper {
        flex-direction: column;
        align-items: center;
    }
}

/* #endregion */